.navTab__wrapper {
  position: fixed;
  right: 0;
  z-index: 50;
  transform: translateX(0%);
  transition: all 0.5s;
}

.navTab__wrapper-inactive {
  position: fixed;
  right: 0;
  z-index: 50;
  transform: translateX(150%);
  transition: all 1s;
}

.navTab__wrapper::before {
  content: " ";
  background: #2a2c2f;
  position: absolute;
  opacity: 0.3;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: -3;
}

.navTab__close {
  background-image: url(../../../images/close.svg);
  padding: 18px;
  border: none;
  background-color: #202020;
  position: absolute;
  top: 22px;
  right: 19px;
}

.navTab__list {
  height: 100vh;
  width: 520px;
  background-color: #202020;
  padding: 159px 0 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.navTab__link {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.navTab__link-active {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 5px;
  border-bottom: 2px solid white;
}

.navTab__profile {
  padding: 595px 0 0 10px;
}

@media screen and (max-width: 540px) {
  .navTab__list {
    width: 100vw;
    padding: 145px 0 0;
    gap: 23px;
  }

  .navTab__close {
    top: 13px;
    right: 10px;
  }

  .navTab__profile {
    padding: 424px 0 0 15px;
  }
}
