.moviesCard {
  list-style: none;
  padding: 0;
  margin: 0;
}

.moviesCard__card {
  border-radius: 10px;
  margin: 0;
  background-color: #222222;
}

.moviesCard__image {
  border-radius: 10px 10px 0 0;
  height: 151px;
  width: 270px;
}

.moviesCard__underscribe {
  padding: 14px 12px;
  display: flex;
  justify-content: space-between;
}

.moviesCard__name {
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 230px;
}

.moviesCard__duration {
  font-size: 11px;
  color: #8b8b8b;
  padding-top: 10px;
  margin: 0;
}

.moviesCard__buttons-icon {
  background-image: url(../../../images/save_button.svg);
  padding: 8px 8px;
  background-color: #313131;
  border-radius: 50%;
  cursor: pointer;
}

.moviesCard__buttons-icon:hover {
  opacity: 0.8;
}

.moviesCard__buttons-icon:active {
  background-color: #2be080;
}

.moviesCard__button {
  display: none;
}

@media screen and (max-width: 820px) {
  .moviesCard {
    min-height: 257px;
    min-width: 300px;
  }

  .moviesCard__image {
    min-width: 100%;
    height: 190px;
  }
}

@media screen and (max-width: 720px) {
  .moviesCard {
    min-height: 257px;
    min-width: 300px;
  }

  .moviesCard__image {
    min-width: 230px;
    height: 160px;
  }
}

@media screen and (max-width: 600px) {
  .moviesCard {
    height: 235px;
    width: 300px;
    justify-self: center;
  }

  .moviesCard__image {
    height: 190px;
    width: 300px;
  }
}
