.saveButton__buttons-icon {
  background-image: url(../../../images/save_button.svg);
  background-color: #313131;
  border-radius: 50%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  padding: 8px 8px;
}

.saveButton__buttons-icon:hover {
  opacity: 0.8;
}

.saveButton__buttons-icon_active {
  background-color: #2be080;
}

.saveButton__button {
  opacity: 0;
  padding: 8px 8px;
}
